@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Messaging " + @Model.Value;
}

@model KeyValuePair<List<IdentityUser>, string>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Members</h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            @foreach (IdentityUser u in Model.Key.Where(u => u.UserName != User.Identity.Name))
                            {
                                <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                        <div class="d-flex flex-row">
                                            <div class="pt-1">
                                                <p class="fw-bold mb-0">@Html.ActionLink(u.UserName, "Message", "Chat", new { user = u.UserName })</p>
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            @*<p class="small text-muted mb-1">Yesterday</p> //For online status tracking*@
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Chatting with: @Model.Value</h5>
                <ul class="list-unstyled" id="messageList">
                </ul>
                <div>
                    <div class="form-outline">
                        <textarea class="form-control" rows="4" id="messageInput"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-rounded float-end" id="sendButton">Send</button>
                    <input type="file" id="fileInput" />
                    <button type="button" class="btn btn-info btn-rounded float-end" id="sendFileButton">Send File</button>
                    <div>To avoid server memory issues, files larger than 1MB will fail to send.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div hidden id="userName">@User.Identity.Name</div>
<div hidden id="userInput">@Model.Value</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/privatechat.js"></script>